body{
	background:#e2e2e2 !important;
}
.bg-primary{
	background:#3ef4bd!important;
}
.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/home.png);
	background-size:cover;
	color:white;
}
.my-card{
	padding:20px;
	background:#ffffff;
	
}

.loginpage{
	color:black;
}
/* Sidebar style */

@media only screen and (max-width:600px){
	.sidebar{
	display:none;
	width:70% !important;
	background:white;
	height:100vh;
	position:fixed;
	padding-top:20px;
	
	}
	.content{
	margen-left:0% !important ;
	}
	
	
}

.sidebar .crossbtn{
	
	position:absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
	
}


.sidebar{
	width:18%;
	height:100%;
	background:white;
	position:fixed;
	padding-top:45px;
	z-index:99999999999999999999999999999;
	
	
}
.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:gray;
	
}

.sidebar a:hover{
	background: #e2e2e2;
}
.sidebar .divider{
	height:.5px;
	width:100%;
	background: #e2e2e2;
	margin-top:10px;
}



.content{
	margin-left:20%;
}

.my_profile_picture{
	height:50px;
	width:50px;
	border-radius:50%;
	border:1px solid black;
	
}
.my_profile_picture_contact
{
	height:150px ;
	width:150px;
	border-radius:50%;
}
.show_image{
  height:150px;
  widht:150px;
  border-radius:50%;
}




